<h1>Log in</h1>
<hr>
<div>
    <%= form_for(:session, scope: :login, url: login_path, method: :post) do |f| %>
        <div>
            <%= f.label :id %>
            <%= f.text_field :id %>
        </div>

        <%= f.submit 'Login'%>
    <% end %>
</div>