<h1>Log in</h1>
<hr>
<div>
    <%= form_for(:session, url: login_path) do |f| %>
        <div>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <%= f.submit 'Login'%>
    <% end %>
</div>