<div class="row">
<h3>Hello <%= @user.username %></h3>
</div>
<br>
<div class="row">
  

</div>
<div class="row">
    <div class="col-12">
    
        <h5>New Event:</h5>

        <%= render 'events/new_form' %>
    </div>
</div>
