<div class="container">  
    <h1 class="text-center">Hello <%= @user.username %></h1>  
    <div class="row">
        <div class="col-12 d-flex justify-content-center">      
            <div class="card" style="width: 18rem;">
                <div class="card-body">                    
                    <p><strong>Log in to create/joins events. </p>
                </div>
            </div>                    
        </div>
    </div>  
</div>
