<div class="row justify-content-center">
<h1>List of Events</h1>
</div>
<br>

<div class="row">
    <div class="col-6">
        <h5>Previous Events:</h5>
        <ul id="upcoming">
          <%@upcoming.each do |u|%>
            <li><%= link_to  "#{u.name}", u%></li>
          <%end%>
        </ul>
    </div>
    <div class="col-6">
        <h5>Previous events:</h5>
        <ul id="past">
          <%@previous.each do |p|%>
            <li><%= link_to  "#{p.name}", p%></li>
          <%end%>
        </ul>
    </div>
</div>

